* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  height: 100%;
}

body {
  --cinnabar: #e55934ff;
  --jasper: #d9594cff;
  --persian-orange: #ce8d66ff;
  --citron: #c3bf6dff;
  --sage: #b7b868ff;
  margin: 0;
  background-color: var(--cinnabar);
  font-weight: bold;
}

button {
  padding: 0.7rem;
  border: none;
  border-radius: 0.8rem;
  font-size: 1rem;
  font-weight: bold;
  background-color: rgb(148, 150, 46);
  color: #c3bf6dff;
  cursor: pointer;
}

button:hover {
  background-color: rgb(117, 119, 16);
  color: rgb(190, 185, 85);
}
